@page "/todo"

<h3>
  Todo (
    @if (@todos.Count(todo => !todo.IsDone) > 0) {
      @todos.Count(todo => !todo.IsDone)
    } else {
      <span>Done</span>
    }
  )
</h3>

@foreach (var todo in todos)
{
  <li>
    <input type="checkbox" @bind="todo.IsDone" />
    <input @bind="todo.Title" />
  </li>   
}

<input placeholder="Write your todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
  private IList<TodoItem> todos = new List<TodoItem>();
  private string newTodo;

  private void AddTodo()
  {
    // TODO try to add keyboard binding
    if (!string.IsNullOrWhiteSpace(newTodo))
    {
      todos.Add(new TodoItem { Title = newTodo });
      newTodo = string.Empty;
    }
  }
}